absl-py==0.10.0
alembic==1.4.3
anaconda-client==1.7.2
anaconda-navigator==1.8.7
appdirs==1.4.4
appnope==0.1.0
astroid==2.4.2
astunparse==1.6.3
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
autograd==1.3
autograd-gamma==0.5.0
autopep8==1.5.2
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bleach==3.1.5
bokeh==2.2.1
branca==0.3.1
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
clyent==1.2.2
colorama==0.4.3
conda==4.8.4
conda-build==3.10.5
conda-package-handling==1.7.0+0.g7c4a471.dirty
conda-verify==3.4.2
contextvars==2.4
coverage==5.1
cryptography @ file:///opt/concourse/worker/volumes/live/10fa08f7-3458-4bfb-6f1b-976b301073ba/volume/cryptography_1598892026412/work
cycler==0.10.0
Cython==0.29.21
data==0.4
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
docformatter==1.3.1
docutils==0.16
eli5==0.10.1
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Fiona==1.8.8
folium==0.7.0
funcsigs==1.0.2
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
geopandas==0.6.2
gitdb==4.0.5
GitPython==3.1.8
glob2==0.7
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletrans==3.0.0
graphviz==0.13.2
grpcio==1.31.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
identify==1.5.9
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
immutables==0.14
importlib-metadata @ file:///opt/concourse/worker/volumes/live/c15100a6-3aca-4bde-70bd-9279a634b55b/volume/importlib-metadata_1593446478014/work
importlib-resources==1.5.0
iniconfig==1.0.1
ipykernel @ file:///opt/concourse/worker/volumes/live/43eaf185-e9cd-4e78-5afa-c19accf1339d/volume/ipykernel_1596206683810/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipytest==0.9.1
ipython @ file:///opt/concourse/worker/volumes/live/8c453bb6-500b-4747-778c-a236ae4a574d/volume/ipython_1593447395779/work
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isort==5.5.3
jdcal==1.4.1
jedi @ file:///opt/concourse/worker/volumes/live/565dbe5a-443f-465a-7ff2-b61f4a5f081d/volume/jedi_1598371617578/work
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-cjk-xelatex==0.2
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-sphinx==0.2.3
jupyterlab==2.2.6
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jyquickhelper==0.3.128
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
latex==0.7.0
lazy-object-proxy==1.4.3
lifelines==0.25.5
lightgbm==2.3.0
llvmlite==0.35.0
lxml==4.6.0
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib @ file:///opt/concourse/worker/volumes/live/913fefa9-eb28-4491-4c8e-564f316c530a/volume/matplotlib-base_1597876351804/work
mccabe==0.6.1
metakernel==0.24.4
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.5.0
multi-key-dict==2.0.3
munch==2.5.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
nbgrader==0.6.1
nodeenv==1.5.0
notebook==6.0.3
numba==0.52.0
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.5
opt-einsum==3.3.0
ordered-set==3.1.1
packaging==20.4
pandas==1.1.3
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.7.0
path @ git+https://github.com/jaraco/path.git@54485dd37902bd6a9d8616e116e842e5262884a4
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/dda2ed08-74a0-47b1-4b92-3e662849d96e/volume/pillow_1594307366244/work
pkginfo==1.5.0.1
plotly==4.7.1
pluggy==0.13.1
pre-commit==2.8.2
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
protobuf==3.13.0
psutil @ file:///opt/concourse/worker/volumes/live/338e0e4d-62ab-487e-7319-52d56429fb60/volume/psutil_1598370232038/work
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydataset==0.2.0
pyensae==1.3.825
Pygments==2.6.1
PyLaTeX==1.3.1
pylint==2.6.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyproj==2.4.1
pypyodbc==1.3.4
pyquickhelper==1.9.3359
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.0.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.7
QtPy==1.9.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
ruamel-yaml==0.15.87
scikit-learn==0.23.2
scipy==1.2.0
seaborn==0.9.0
semantic-version==2.8.4
Send2Trash==1.5.0
Shapely==1.6.4.post2
shutilwhich==1.1.0
six==1.15.0
sklearn==0.0
smmap==3.0.4
sniffio==1.2.0
soupsieve==2.0.1
Sphinx==3.0.2
sphinx-gallery==0.6.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-imagesvg==0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
sqlparse==0.2.4
statsmodels==0.10.0rc2
tabulate==0.8.6
tempdir==0.7.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
termplotlib==0.3.1
testpath==0.4.4
Theano==1.0.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
tox==3.20.1
tqdm @ file:///tmp/build/80754af9/tqdm_1596810128862/work
traitlets==4.3.3
translate==3.5.0
tslearn==0.4.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.0.0
untokenize==0.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
virtualenv==20.0.21
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0